#doneBtn {
    width: 70px;
    height: 30px;
    background: none;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid blue;
}

.todoCard {
    width: 250px;
    height: 200px;
    border: 3px solid green;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}